<p>
  <h2>
  <%= link_to post.title, post %>
  </h2>
</p>

<p>
	<% if post.kind == 'image'  %>
		<img src = "https://upload.wikimedia.org/wikipedia/commons/6/60/BiscuitsAmerican%26British.png"/>
	<% else %>
 	    <%= simple_format post.content %>
 	<% end %>
</p>

<p class ="text-muted">
	<small>
	Posted on <%= post.created_at.to_formatted_s(:long) %>
	</small>
</p>